@import url('http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.css');
body {
    background: -webkit-linear-gradient(bottom left, #ccc, #fff);
}
#content{
    background: url(../image/bg.png) repeat-x;
}
.color-red {
    color: red;
}