@import url('../../node_modules/bootstrap/dist/css/bootstrap.css');
body {
    background: -webkit-linear-gradient(bottom left, #ccc, #fff);
}
#content{
    background: url(../image/bg.png) repeat-x;
}
.color-red {
    color: red;
}